/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /*RESET para REMS - 62.5% = 10px de 16px*/
}
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: #202324;
  color: #fff;
}
/*GLOBALES*/
img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .contenedor {
    max-width: 1200px;
    margin: 0 auto;
  }
}
h1,
h2,
h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.6rem;
}
/*BOTONES*/
.btn {
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
}
.btn-verde {
  background-color: #00eb1b;
  color: #fff;
}
.btn-violeta {
  background-color: #6a35e8;
  color: #fff;
}
.btn-rojo {
  background-color: #ff2919;
  color: #fff;
}
.btn:hover {
  cursor: pointer;
}
/*HEADER*/
.barra-header {
  background-color: #2f009e;
}
@media (min-width: 768px) {
  header.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
#logo {
  height: 50px;
}
div.titulo-header a {
  
  text-decoration: none;
  color: #fff;
}
.titulo-header h1 {
  display: inline;
}
input.buscador {
  width: 100%;
  height: 4rem;
  margin: 2rem;
  border-radius: 1rem;
  border-style: none;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  input.buscador {
    width: 50%;
  }
}
.contactanos {
  display: none;
}
@media (min-width: 768px) {
  .contactanos {
    display: block;
  }
}
.contactanos a {
  margin-right: 1rem;
}
.contactanos a:hover {
  background-color: #000;
}
/*NAV BAR*/
div.barra-nav {
  background-color: #6a35e8;
}
nav.nav-bar {
  text-align: center;
  padding: 2rem;
}
.hidden-mobile-nav {
  display: none;
}
.show-mobile-nav {
  display: block;
  transition: 0.5s ease-in-out;
  overflow-y: auto;
}
@media (min-width: 768px) {
  nav.nav-bar {
    display: block;
  }
}
nav.nav-bar a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}
@media (min-width: 768px) {
  nav.nav-bar a {
    display: inline;
    margin: 0 1.6rem 0 0;
  }
  nav.nav-bar a:last-of-type {
    margin: 0;
  }
}
#mobile-item {
  margin-left: 2rem;
  background: none;
  border: none;
  font-size: 2.3rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  #mobile-item {
    display: none;
  }
}
/*MAIN*/
div.site-main {
  margin-top: 3rem;
}
div.titulo-entrada {
  display: block;
  text-align: left;
  text-align: center;
  color: #fff;
  border-radius: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #6a35e8;
}
@media (min-width: 768px) {
  div.titulo-entrada {
    display: inline;
  }
}
div.titulo-entrada h2 {
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  div.titulo-entrada h2 {
    display: inline;
  }
}
div.titulo-entrada a {
  margin-left: 0.5rem;
  color: #fff;
}
.contenido-principal {
  display: flex;
  text-align: center;
  margin: 2rem;
}
@media (min-width: 768px) {
  .contenido-principal {
    display: flex;
    justify-content: space-between;
  }
}
/*ENTRADAS*/
.entrada-articulo {
  flex: 0 0 calc(50% - 1rem);
  margin-left: 1rem;
  margin-top: 2rem;
  border: 1px solid #6a35e8;
  padding-bottom: 2rem;
}
.entrada-articulo:nth-child(3),.entrada-articulo:last-child {
  display: none;
}
@media (min-width: 768px) {
  .entrada-articulo {
    flex: 0 0 calc(33.3% - 1rem);
  }
  .entrada-articulo:nth-child(3),.entrada-articulo:last-child  {
    display: inline;
  }
}
.entrada-articulo img {
  width: 100%;
  max-height: 300px;
}
.entrada-articulo p {
  font-size: 1.8rem;
  font-weight: 400;
}
.entrada-articulo a {
  margin-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.entrada-articulo a:hover {
  background-color: #6a35e8;
}
.precio {
  color: #00eb1b;
}
/*FOOTER*/
.site-footer {
  background-color: #6a35e8;
  margin-bottom: 0;
}
.contenedor-footer {
  text-align: center;
  padding: 3rem 0rem;
}
@media (min-width: 768px) {
  .contenedor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.contenedor-footer h4 {
  margin: 0;
}

/*INTERNAS*/
/**Formulario**/
.formulario-contacto {
  margin-top: 2rem;
}
legend {
  font-size: 2.4rem;
  color: #6a35e8;
}
label {
  font-weight: 500;
  text-transform: uppercase;
  color: #f1f1f1;
}
.formulario-contacto input:not([type="submit"]),
textarea {
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: #fff;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem;
}
textarea {
  height: 13rem;
}
/*Formulario Tabla*/
.contenedor-form-tabla{
  margin-top: 2rem;
}
.contenedor-form-tabla label {
  display: block;
}
.contenedor-form-tabla input {
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  height: 2.5vh;
}
.contenedor-form-tabla button {
  margin-top: 1rem;
}
/*Captcha*/
.captchaValue {
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  color: #000;
  border-radius: 1rem;
}
.captcha input[type="text"] {
  display: inline;
  width: 20%;
}
.respuesta-incorrecta-inputs {
  border-radius: 1px solid #ff2919;
}
.respuesta-incorrecta {
  color: #ff2919;
}
.respuesta-correcta {
  color: #00a644;
}
/*PAGINA ENTRADA*/
.contenedor-articulo {
  width: 100%;
  border: solid 1px rgb(95, 95, 95);
  margin-top: 5rem;
  align-items: center;
  height: 100%;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .contenedor-articulo {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;
  }
}
.titulo-compra h2 {
  color: #b0a99f;
  padding-left: 2rem;
}
.titulo-compra img {
  width: 100%;
  height: 100%;
}
div.lista-precio ul {
  list-style: none;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.5rem;
  margin: 0 0 2rem 0;
  color: #b0a99f;
}
@media (min-width: 768px) {
  div.lista-precio ul {
    margin: 0 0 5rem 0;
  }
}
div.lista-precio ul li {
  text-transform: uppercase;
  padding: 1rem;
}
div.lista-precio ul .precio {
  color: #00eb1b;
  font-size: 4rem;
  font-weight: 700;
}
ul .stock {
  color: #ff2919;
  font-weight: 700;
}
div.lista-precio ul span {
  color: #00eb1b;
  font-weight: bold;
}
.link-carrito a {
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 5em;
  width: 45%;
  margin-right: 5rem;
}
@media (min-width: 768px) {
  .link-carrito a {
    font-size: 2.2rem;
    display: block;
    margin: 0 0 0 2rem;
    width: 60%;
  }
}
.link-carrito a:hover {
  background-color: #00eb1b;
}
/*TABLA*/
table {
  width: 100%;
  margin: 2rem 0 2rem 0;
  border-collapse: collapse;
  text-align: left;
}
@media (min-width: 768px) {
  table {
    width: 100%;
  }
}
thead {
  border-bottom: solid 0.2rem #e900ff;
}
td {
  font-weight: bold;
}
tr:hover {
  background-color: #000;
}
  td,th {
  padding: 1rem;
}
/*TABLA DINAMICA*/
.tabla-armatupc tr td {
  text-transform: capitalize;
  padding: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .tabla-armatupc tr td {
    padding: 1rem;
  }
}
#form-pc{
padding: 1rem;
}
.container-input-label{
  margin-top: 2.5rem;
  display: grid;
}
.form-group{
  position: relative;
}
.input-table{
  padding: 2.7rem .5rem;
  font-size: 1.5rem;
  width: 100%;
  outline: none;
  border-bottom:0.2rem solid #e900ff;
  cursor: pointer;
}
.input-table:focus + .label-table,.input-table:not(:placeholder-shown) + .label-table{
  transform: translateY(-1.2rem) scale(.7);
  transform-origin: left top;
  color: #a98fac;
}
.label-table{
  margin-top: 2rem;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0.5rem;
  transform: translateY(1rem);
  transition: transform .5s, color .3s ;
  color: #000;
}
.descuento {
  background-color: #00a644;
}